.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap:1rem;
}
.grid .card{
  box-shadow: var(--box-shadow);
  padding: 2rem;
}
.grid .card p{
    color:#fff;
}
.analytics{
    background:var( --dark-blue);
}
.analytics .title{
    color:var(--color-white);
}