.main .container .sidebar{
    border-right:1px solid #Ccc;
    min-height:100vh;
    flex-basis:30%;
}
.main .container .mainbar{
    flex-basis:70%;
}
.screen__title{
    font-size:2rem;
    text-transform: uppercase;
}
.dashboard__navigation li{
    width:100%;
    background:var(--dark-blue);
    cursor:pointer;
    transition:all 0.5s;
    padding:1rem 0rem;
}
.dashboard__navigation li:hover{
    background:#ff004f;
}
.dashboard__navigation li a{
    font-size:1.8rem;
    color:#fff;
}

