.notification-form{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
}
.notification-form form{
    max-width:800px;
    width:97%;
    padding:2rem;
    box-shadow:0 0 5px rgba(0,0,0,0.25);
    border-radius:10px;
    margin-top:3rem;

}
.notification-form input{
    padding:10px;
}
.notification-form textarea{
    width:100%;
    border:1px solid #ccc;
    padding:10px;
}
.notification_button{
    border-radius:30px;
}
.notification-form .title{
    color:var(--dark-blue);
}