.content{
    margin-top:7rem;
    box-shadow:0 0 5px rgba(0,0,0,0.25);
    border-radius:10px;
    padding:2rem;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.subject_div{
    width:80%;
    padding:1rem;
    background:#ccc;
    display:flex;
    align-items:center;
    justify-content: center;
    margin:0.3rem 0rem;
    cursor: pointer;
}
.subject_div p{
    font-size:1.4rem;
}
.subject_div:hover p{
    text-decoration: underline;
    color:var(--dark-blue);
}