@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html{
  scroll-behavior:smooth;
  overflow-x:hidden;
  font-size:62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
  --color-white:#fff;
  --dark-blue:#00308F;
  --color-error:#ff004f;
  --color-black:#000;
}
ul{
  list-style:none;
}
a{
  text-decoration:none;
}
.form_title{
  font-size:4rem;
  display:block;
  margin-bottom: 2rem;
  text-align: center;
  font-weight:500;
  border-bottom:3px solid var(--dark-blue);
}
.container {
  max-width: 1200px;
  width:100%;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.sub_header{
  FONT-SIZE:4rem;
  margin:2rem 0rem;
}

/* FOOTER */



.main_footer{
  margin-top:5rem;
  border-top:1px solid #ccc;
  padding:2rem 2rem;
}
.title{
  font-size:1.6rem;
  font-weight:bold;
}
.main_footer .row{
  display:grid;
  grid-template-columns:repeat(4,1fr);
}
.main_footer .footer_li p{
  font-size:1.3rem;;
}
.main_footer .footer_li p:hover{
text-decoration: underline;
cursor:pointer;
}

.main_footer .social_media{
  max-width:400px;
  width:100%;
  margin:0 auto;
  margin-top:2rem;
}
.social_media ul{
  display:grid;
  grid-gap:1;
  grid-template-columns:repeat(6,1fr);
}
.main_footer .social_media li{
  width:50px;
  height:50px;
  display:flex;
  justify-content:center;
  align-items:center;
  background:var(--dark-blue);
  border-radius:50%;
  cursor:pointer;
}
.main_footer .social_media li:hover{
  transform:scale(1.1);
  transition:all 0.5s;
}
.main_footer .social_media li a{
  color:#fff;
  font-size:2rem;
}


/* HOME */

.home .section_a{
  margin-top:5rem;
  padding:2rem;
}
.home .grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap:2rem;
  margin-top:3rem;
}
.main_dashboard .card{
  box-shadow:0 0 5px rgba(0,0,0,0.25);
  padding:2rem;
  border-radius:2px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  text-align:center;
  flex-direction:column;
  cursor:pointer;
  transition:all 0.5s;
  background:#fff;
}
.main_dashboard .card:hover{
  transform: scale(1.1);
}

.main_dashboard .card p{
  font-size:2rem;
}
.section_a .title-first{
  background:#000;
  padding:2rem;
  color:#fff;
}







@media(max-width:580px){
  .main_footer .row{
    grid-template-columns:repeat(2,1fr);
  }
  .main_footer .col{
    display:flex;
    flex-direction:column;
    text-align: center;
    margin:0.5rem 0rem;
  }
}


@media(max-width:760px){
  html{
    font-size:55.5%;
  }
}

@media(max-width:650px){
  .banner .section-a .flex{
    flex-direction: column;
    text-align:center;
  }
  html{
    font-size:50.5%;
  }
}
@media(max-width:400px){
  html{
    font-size:40%;
  }
}